{% load static %}
<html>
<head>
    <title>
        My Order Track
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="{% static 'myapp/css/progress_bar.css' %}" rel="stylesheet" type="text/css"/>
</head><!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Delivery Steps Count </title>
    <link rel="stylesheet" href="{% static 'myapp/css/progress_bar.css'%}">
</head>

<body>
    
    <section class="container" >
        <ul class="container-list" >
            <li class="container-item" >
                <a href="#" class="count">1</a>
                <a href="#" class="progress" style="height: 3rem;"><h6>house-type</h6> </a>
            </li>
            <li class="container-item unActive">
                <a href="#" class="count">2</a>
                <a href="#" class="progress" style="height: 3rem;"><h6>Booking</h6></a>
            </li>
            <li class="container-item unActive">
                <a href="#" class="count">3</a>
                <a href="#" class="progress"style="height: 3rem;"><h6>payment-status</h6></a>
            </li>
            <li class="container-item unActive">
                <a href="#" class="count">4</a>
                <a href="#" class="progress" style="height: 3rem;"><h6>on-the-way</h6></a>
            </li>
            <li class="container-item unActive">
                <a href="#" class="count">5</a>
                <a href="#" class="progress"style="height: 3rem;"><h6>Delivery Address</h6></a>
            </li>
            <li class="container-item unActive">
                <a href="#" class="count">5</a>
                <a href="#" class="progress"style="height: 3rem;"><h6>Delivery Address</h6></a>
            </li>
        </ul>
    </section>
    
</body> 
</html>


<br>


    
  </section>

