{% extends 'sheader.html' %}
{% load static %}
{% block content %}

  



<section class="form-container" >

   <form>
      {% if reject_status != True %}
      {% if booking %}

        {% if booking.status != 'finish' %}
         <h3>Ride details</h3>
         <p>Move From : {{booking.movefrom}}</p>
         <p>Move To : {{booking.moveto}}</p>
         
         <a href="{% url "accept" %}" class="btn">accept</a>
         <a href="{% url "reject" %}" class="option-btn">reject</a>
         {% else %}
            <h1 style="text-align: center;">NO RIDE  AVAILABLE!</h1>
         {% endif %}
      {% else %}
         <h1 style="text-align: center;">NO RIDE  AVAILABLE!</h1>
      {% endif %}
      {% else %}
        <h1 style="text-align: center;">NO RIDE  AVAILABLE!</h1>
      {% endif %}
   </form>

   {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    function fetchRideDetails() {
        $.ajax({
            type: 'POST',
            url: '/dilevry_partners/home/', // URL ko apne project ke URL ke hisaab se update karein
            success: function(response){
                if(response.status == 'error'){
                    console.log('An error occurred:', response.message);
                } else {
                    $('.form-container').html(response);
                }
            },
            error: function(xhr, errmsg, err){
                console.log(xhr.status + ": " + xhr.responseText); // For debugging purposes
            }
        });
    }

    // Initially fetch ride details when the page loads
    fetchRideDetails();

    // Set an interval to fetch ride details every 4 seconds
    setInterval(fetchRideDetails, 4000); // 4 seconds = 4000 milliseconds
});
</script> {% endcomment %}

   
</section> 




{% endblock %} 