{% load static %}
{% include "pheader.html" %}
{% block content %}


<section class="teacher-profile">



   <div class="details" style="height: 60rem; box-shadow: 1px 1px 2px 1px #aaaaaa;">
      <div class="tutor">
         
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235014.29918593855!2d72.41493121847908!3d23.020158085669532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1704261980580!5m2!1sen!2sin"
         width="1100" height="450" loading="lazy" ></iframe>
  
         <iframe src="" width="400" height="300" style="border:0;"  loading="lazy"  ></iframe>
      
      </div>
      
   </div>

</section>

<!--
<section class="courses">

   <h1 class="heading">our courses</h1>

   <div class="box-container">

      <div class="box">
         <div class="thumb">
            <img src="images/thumb-1.png" alt="">
            <span>10 videos</span>
         </div>
         <h3 class="title">complete HTML tutorial</h3>
         <a href="playlist.html" class="inline-btn">view playlist</a>
      </div>

      <div class="box">
         <div class="thumb">
            <img src="images/thumb-2.png" alt="">
            <span>10 videos</span>
         </div>
         <h3 class="title">complete CSS tutorial</h3>
         <a href="playlist.html" class="inline-btn">view playlist</a>
      </div>

      <div class="box">
         <div class="thumb">
            <img src="images/thumb-3.png" alt="">
            <span>10 videos</span>
         </div>
         <h3 class="title">complete javascript tutorial</h3>
         <a href="playlist.html" class="inline-btn">view playlist</a>
      </div>

      <div class="box">
         <div class="thumb">
            <img src="images/thumb-4.png" alt="">
            <span>10 videos</span>
         </div>
         <h3 class="title">complete Boostrap tutorial</h3>
         <a href="playlist.html" class="inline-btn">view playlist</a>
      </div>

   </div>

</section>
-->



{% endblock  %}