{% load static %}
{% include "pheader.html" %}
{% block content %}
<section class="form-container">

   <form action="" method="post" enctype="multipart/form-data">
      <h3>update profile</h3>
      <p>update name</p>
      <input type="text" name="name" placeholder=" Enter your name" maxlength="50" class="box">
      <p>update Mobile Number</p>
      <input type="text" name="number" placeholder="Enter your contact Number" class="box">
      <p>new password</p>
      <input type="password" name="new_pass" placeholder="enter your old password" maxlength="20" class="box">
      <p>confirm password</p>
      <input type="password" name="c_pass" placeholder="confirm your new password" maxlength="20" class="box">
      <p>Address</p>
      <textarea name="" id="" placeholder="Address" rows="5" class="box"></textarea>
      <input type="submit" value="update profile" name="submit" class="btn">
   </form>

</section>

 {% endblock %}











